{{ ssh_user }} ALL=(root) NOPASSWD: /usr/sbin/ip,/usr/bin/ip,/usr/sbin/iptables,/usr/bin/iptables,/usr/sbin/sysctl,/usr/sbin/bridge,/usr/bin/bridge,/sbin/mkfs.ext4,/usr/sbin/mkfs.ext4,/usr/bin/mount,/usr/bin/umount,/usr/bin/kill,/usr/sbin/lvm,/usr/sbin/pvcreate,/usr/sbin/pvremove,/usr/sbin/pvs,/usr/sbin/vgcreate,/usr/sbin/vgremove,/usr/sbin/vgchange,/usr/sbin/vgs,/usr/sbin/lvcreate,/usr/sbin/lvremove,/usr/sbin/lvchange,/usr/sbin/lvextend,/usr/sbin/lvs,/usr/sbin/losetup,/usr/sbin/dmsetup,/usr/bin/dd,/usr/sbin/debugfs,/usr/sbin/resize2fs,{{ firecracker }}
